html {
  box-sizing: content-box;
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}
body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: white;
  background: #151515;
  overflow-x: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.dark-redish-pink {
  background-color: #7c0b3a;
}

.dark {
  background-color: #151a1e;
}

.welcome-section {
  padding-top: 0.5 rem !important;
}

.welcome-greeting {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-greeting > img {
  border-radius: 50%;
}

.welcome-greeting > h1 {
  margin-bottom: 0.5rem;
}

/* blob morph animation */
.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  z-index: 0;
}

.blobs {
  width: 90%;
  background: url("./blobs.svg") no-repeat bottom / cover;
}

/* layered wave divider */
.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer-wave-top {
  background-image: url("./resources/layered-wave-top.svg");
}

.layer-wave-bottom {
  background-image: url("./resources/layered-wave-bottom.svg");
}

.flip {
  transform: rotate(180deg);
}
