@import "_variables.scss";

html {
  box-sizing: content-box;
  margin: 0;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: white;
  background: #151515;
  overflow-x: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.dark-redish-pink {
  background-color: map-get($colors, primary);
}

.dark {
  background-color: map-get($colors, secondary);
}

.welcome-section {
  padding-top: 0.5 rem !important;
}

.welcome-greeting {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-greeting > img {
  border-radius: 50%;
}

.welcome-greeting > h1 {
  margin-bottom: 0.5rem;
}

/* blob morph animation */
.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  z-index: 0;
}

.blobs {
  width: 90%;
  background: url("./blobs.svg") no-repeat bottom / cover;
}

/* layered wave divider */
.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer-wave-top {
  background-image: url("./resources/layered-wave-top.svg");
}

.layer-wave-bottom {
  background-image: url("./resources/layered-wave-bottom.svg");
}

.flip {
  transform: rotate(180deg);
}

/* small device */
@media screen and (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
  }

  .welcome-greeting > p {
    margin-top: 0.5rem;
    padding: 1rem 1rem 1rem 1.4rem;
  }
}

/* med device */
@media screen and (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
  }
}

/* large device */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 3rem;
  }
}

/* x-large device */
@media screen and (min-width: 1025px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 4rem;
  }
}
